django==3.0.6
Pillow==7.1.2
libsass==0.20.0
django-compressor==2.4
django-sass-processor==0.8
python-dotenv==0.13.0
requests==2.23.0
djangorestframework==3.11.0
sentry-sdk==0.14.4
django-storages==1.9.1
boto3==1.13.17
celery==4.4.5
redis==3.5.3
django-celery-results==1.2.1
