{% load product_constants %}
{% volando_number as volando_number %}
{% volar_number as volar_number %}
<a class="card" href="{% url 'products:wa_view' product.id volando_number %}">
    <div class="card-image">
        <img src="{{ product.image.url }}" alt="product.name">
    </div>

    <div class="card-content">
        <p class="text-center">
            <strong class="d-block">{{ product.name }}</strong>
            <small>{{ product.event_address }}</small>
        </p>
        <p class="price text-center mt-3">${{ product.price }} MXN</p>
    </div>
</a>
