<div class="card mx-auto" style="max-width: 300px;">
    <a href="{% url 'products:product-detail' product.id%}">
        <img class="card-img-top" src="{{ product.image.url }}" alt="product.name">
        <div class="card-body text-center">
            <h5 class="card-title text-primary font-weight-bold">{{ product.name }}</h5>
            <p class="card-text price">${{ product.price }}</p>
        </div>
    </a>
    <form class="cart-product-widget text-center card-footer">
        <input type="hidden" name="product" value="{{ product.id }}">
        <button class="btn btn-primary text-white" type="submit">
            Agregar al carrito
        </button>
    </form>
</div>
