{% extends 'base.html' %}
{% load static %}
{% load user_tags %}


{% block content %}
    <div class="row mt-5 pt-3">
        <div class="col-12">
            <small class="text-success">Si necesitas salsa extra, sin jitomate o alguna otra petición, lo puedes hacer al momento de confirmar tu pedido.</small>
        </div>
    </div>
    <div class="row mt-3 text-center">
        <div class="col-sm mb-4">
            {% if object.image %}
                <img class="max-w-8 br-8 rounded shadow w-100" src="{{ object.image.url }}" alt="{{ objects.description }}">
            {% else %}
                <img class="card-img-top" src="{% static 'img/sin_foto.png' %}" alt="product.name">
            {% endif %}
        </div>
        <div class="col-sm">
            <h3>{{ object.name }}</h3>
            <p class="mb-0">{{ object.description }}</p>
            {% if object.provider.id %}
            <small class="text-info">Vendido por: <a target="_blank" href="{% url 'products:provider-detail' object.provider.id %}">{{ object.provider.name }}</a></small>
            {% endif %}
            <p class="text-success m-0">Horario de servicio:</p>
            {% for schedule in object.provider.scheduleday_set.all %}
                <small class="text-success m-0">{{ schedule }}</small><br>
            {% endfor%}
            <form class="cart-product-widget">
                <div class="form-group col-8 my-3 mx-auto">
                    <select name="product" class="form-control">
                        {% for product in object.productprice_set.all %}
                            <option value="{{ product.id }}">{{ product.description }} ${{ product.price }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group col-4 my-3 mx-auto">
                    <label for="amount">Cantidad</label>
                    <input type="number" name="amount" class="form-control" id="amount" value="1">
                </div>
                <!-- Boton whatsapp -->
                <a href="{% order_whatsapp object.name object.provider.first_address.telephone %}" target="_blank" class="btn btn-success mb-3"><i class="fab fa-whatsapp"></i> Pedir ahora: {{ object.provider.first_address.telephone }}</a> <br>
                <!-- Boton agregar al carrito-->
                <!-- <button type="submit" class="btn btn-primary text-white">Agregar al carrito</button> -->
            </form>
        </div>
    </div>
{% endblock %}
