{% extends 'base.html' %}

{% block content_top %}
    {% if not request.GET.q %}
        {% include 'generals_Javi/banner.html' %}
    {% endif %}
{% endblock%}

{% block content %}
    <div class="list-group list-group-horizontal-sm justify-content-center">
        {% for category in categories %}
            <a href="#" class="list-group-item list-group-item-action list-group-item-info">
                {{ category.value }}
            </a>
        {% endfor %}
    </div>
    <h1>La mejor comida del rumbo</h1>
    <!-- <small class="text-danger">Los precios de los productos podrían no ser reales, pregunta al repartido el precio exacto. !Estamos trajabando arduamente para tenerlos lo más acercados a la realidad!</small> -->
    <div class="card-columns">
        {% for product in object_list %}
        {% include 'products/product_card.html' %}
        {% endfor%}
    </div>
    <hr>
    <div class="row">
        <div class="col-12">
            {% include 'generals/paginator.html' %}
        </div>
    </div>
    <hr>
    <h3 class="text-center">¡Lo mejor de la región!</h3>
    <div class="card-columns">
        {% for provider in providers %}
            {% include 'products/provider_card.html' %}
        {% endfor%}
    </div>
{% endblock %}
