<div class="card mx-auto" style="max-width: 300px;">
    <a href="#{{ provider.id }}">
        <img class="card-img-top" src="{{ provider.image.url }}" alt="provider.name">
        <div class="card-body text-center">
            <h5 class="card-title text-primary font-weight-bold">{{ provider.name }}</h5>
            <p>{{ provider.description }}</p>
        </div>
        <div class="card-footer">
            Ubicación:
            <small class="d-block">{{ provider.first_address.street_name }} #{{ provider.first_address.street_number}}</small>
            <small class="d-block">{{ provider.first_address.colony }}</small>
            <small class="d-block">{{ provider.first_address.zip_code }} - {{ provider.first_address.city }}</small>
        </div>
    </a>
</div>
