{% extends 'base.html' %}

{% block content_top %}
    {% if not request.GET.q %}
        {% include 'generals_Javi/banner.html' %}
    {% endif %}
{% endblock%}

{% block content %}
    <h1>Los mejores lugares para pedir comida</h1>
    <div class="card-columns">
        {% for provider in object_list %}
            {% include 'products/provider_card.html' %}
        {% endfor%}
    </div>
    {% include 'generals/paginator.html' %}
    <hr>
    <h3>Lo más rico...</h3>
    <div class="card-deck">
        {% for product in products %}
            {% include 'products/product_card.html' %}
        {% endfor %}
    </div>
{% endblock %}
