<div class="card mx-auto" style="max-width: 300px;">
    <a href="{% url 'products:provider-detail' provider.id %}">
        <img class="card-img-top" src="{{ provider.image.url }}" alt="provider.name">
        <div class="card-body text-center">
            <h5 class="card-title text-primary font-weight-bold">{{ provider.name }}</h5>
            {% include 'products/components/only_score.html' with rate=provider.score.0 %}
            <br>
            {{ provider.score.1 }}
            <p>{{ provider.description }}</p>
        </div>
        <div class="card-footer">
            Ubicación:
            <small class="d-block">{{ provider.first_address.street_name }} #{{ provider.first_address.street_number}}</small>
            <small class="d-block">{{ provider.first_address.colony }}</small>
            <small class="d-block">{{ provider.first_address.zip_code }} - {{ provider.first_address.city }}</small>
            <small class="d-block">Tel: {{ provider.first_address.telephone }}</small>
        </div>
    </a>
</div>
