{% extends 'base.html' %}
{% load static %}
{% load user_tags %}

{% block content %}
    <div class="row mt-5 text-center pt-4">
        <div class="col-sm mb-4">
            {% if object.image %}
                <img class="max-w-8 br-8 rounded shadow w-100" src="{{ object.image.url }}" alt="{{ objects.description }}">
            {% else %}
                <img class="max-w-8 br-8 rounded shadow w-100" src="{% static 'img/sin_foto.png' %}" alt="{{ objects.description }}">
            {% endif %}
        </div>
        <div class="col-sm">
            <h3>{{ object.name }}</h3>
            {% include 'products/components/only_score.html' with rate=object.score.0 %}
            <br>
            {{ object.score.1 }}
            <p class="m-0">{{ object.description }}</p>
            <p class="m-0 text-muted">{{ provider.first_address.street_name }} #{{ provider.first_address.street_number}}</p>
            <p class="m-0 text-muted">{{ provider.first_address.colony }}</p>
            <p class="m-0 text-muted">{{ provider.first_address.zip_code }} - {{ provider.first_address.city }}</p>
            <p class="m-0 text-muted">{{ provider.first_address.references }}</p>

            <!--    Boton Whatsapp      -->
            <br>
            <a href="{% order_whatsapp object.name object.provider.first_address.telephone %}" target="_blank" class="btn btn-success mb-3"><i class="fab fa-whatsapp"></i> Pedir ahora: {{ object.provider.first_address.telephone }}</a> 
            <br>

        </div>
    </div>
    <hr>
    <div class="card-deck">
        {% for product in page_obj %}
            {% include 'products/product_card.html' %}
        {% endfor %}
    </div>
    <div class="row mt-4">
        <div class="col-12">
            {% include 'generals/paginator.html' %}
        </div>
    </div>

    <hr class="my-4">
    <h5>Comentarios:</h5>
    
    {% for comment in provider.comments %}
        <div class="row mb-3">
            <div class="col-sm-10">
            <div class="card">
                <div class="card-header">
                    {% if comment.user.profile_picture %}
                        <img
                            src="{{ comment.user.profile_picture.url }}"
                            alt="Foto de perfil de {{ comment.user.first_name }}"
                            width="25" height="25" class="d-inline-block align-top rounded-circle"
                            >
                    {% endif %}
                    {{ comment.user.first_name }}
                    {% include 'products/components/only_score.html' with rate=comment.rate %}
                </div>
                <div class="card-body">
                    <p class="card-text">
                        {% if comment.comment %}
                            {{ comment.comment }}
                        {% else %}
                            <span class="text-muted">Sin comentario</span>
                        {% endif%}
                    </p>
                </div>
                <div class="card-footer text-right">
                    <small>{{ comment.updated_at }}</small>
                </div>
            </div>
            </div>
        </div>
    {% empty %}
        <p>Éste negocio aún no tiene comentarios</p>
    {% endfor%}

    <div class="row">
        <div class="col-12">
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    {{ score_form.comment }}
                </div>
                <div class="text-center">
                    {% if score_form.rate.errors %}
                        <small class="text-danger d-block m-0">
                            {{ score_form.rate.errors.0 }}
                        </small>
                    {% endif %}
                    {% include 'products/components/score.html' with id=provider.id %}
                    <button class="btn btn-send mt-3" type="submit">Calificar y comentar</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
