{% extends 'base.html' %}

{% block content %}
    <!-- <h1 class="mb-3 mt-5 pt-4">Quiero registrar mi negocio</h1> -->

    <div class="container mb-3 mt-5 text-star">
        <div class="row fondo-1">
            <div class="col-7 mt-5">
                <h1 class="mt-5 text-center">¿Sabías que con RaffYou es muy fácil transformar tu restaurante digitalmente?</h1>

                <p class="text-white px-5" style="margin-top: 10rem;">El mundo está cambiando y sorprendiéndonos a cada instante, <b>sorprende</b> también a tus <b>clientes</b> con una <b>nueva experiencia.</b>
                    <br>
                    <br>
                    Lleva tu negocio a cualquier lugar, estés donde estés. <b>SIN DESCARGAS, SIN APLICACIONES.</b> 
                </p>

                <div class="text-center">
                    <button class="mt-4 btn btn-light shadow p-2 rounded font-weight-bolder">Quiero inscribirme</button>
                </div>
            </div>

            <div class="col-4">
                <div class="progress" style="height: 700px;">
                    <img src="/static/img/phone.png" style="height: 100%;" alt="">
                </div>
            </div>

            <div class="col-1"></div>
        </div>

        <div class="row fondo-4">
            <div class="col-6 text-center mt-5">
                <h2 class="mb-5 font-weight-bolder">¿Cómo lo hago?</h2>
            </div>

            <div class="col-6"></div>

            <div class="col-6 text-center">
                <figure class="figure progress text-center" style="height: 380px;">
                    <img class="figure-img img-fluid rounded shadow" src="/static/img/menu1.jpg" style="height: 100%;" alt="">
                </figure>
            </div>

            <div class="col-6">
                <ul>
                    <li><b>Regístrate</b> con nosotros y <b>créate una cuenta</b> para tu establecimiento de comida.</li>
                    <li><b>Agrega</b> fotos, descripción y todos los <b>datos de tus productos</b> clasificándolos por categorías.</li>
                    <li>Agrega y quita, puedes <b>modificarlo</b> tantas veces <b>como quieras.</b></li>
                    <li><b>Espera</b> un máximo de <b>48 horas</b> para que nuestro equipo valide tu cuenta y <b>¡TODO LISTO!</b></li>
                    <li><b>Descarga tu código QR,</b> mostrárselo a tus <b>clientes,</b> ofréceles un mejor servicio y una <b>nueva experiencia.</b></li>
                </ul>

                <h2 class="mt-5 text-center font-weight-bolder">Tu menú digital a un solo click del mundo entero</h2>
            </div>

            <div class="col-3 mt-5 text-white">
                <h3 class="mb-5">Seguro y versátil</h3>

                <p class="font-weight-bolder">
                    Permanece preparado ante las nuevas normas de bioseguridad para restaurantes y establecimientos de comida.
                </p>
            </div>

            <div class="col-3 mt-5 text-white">
                <h3 class="mb-5">¿Para comer aquí o para llevar?</h3>

                <p class="font-weight-bolder">
                    Recibe las ordenes de tus clientes desde tu establecimiento o recibe pedidos para entregas a domicilio.
                </p>
            </div>

            <div class="col-3 mt-5 text-white">
                <h3 class="mb-5">Código QR</h3>

                <p class="font-weight-bolder">
                    Descarga e imprime tu código QR y muestrales a todo el mundo todo lo que puedes ofrecer
                </p>
            </div>

            <div class="col-3 mt-5 text-white">
                <h3 class="mb-5">Adaptable o todos los dispositivos.</h3>

                <p class="font-weight-bolder">
                    Tu menú para PC, Tablet o Smartphone, ¡Deja que tus clientes decidan!
                </p>
            </div>

            <div class="col-12 mt-5 text-center mb-4 text-white">
                <h4>
                    <b>Todo esto y mucho más, sin descargar aplicaciones.</b>
                </h4>
            </div>
        </div>

        <div class="row fondo-5">
            <div class="col-12 mt-5">
                <h2 class="font-weight-bolder">Aumenta tu productividad, gestiona, renuévate</h2>
            </div>

            <div class="col-6 mt-5">
                <h6>Plan básico </h6>
                <h2><b>$59.00 MXN /mes</b></h2>
                <p class="text-success">IVA incluido. Sin contratos ni permanencia</p>
            </div>

            <div class="col-6 mt-5 font-weight-bolder">
                <ul>
                    <li>Gestión total de tu menú digital.</li>
                    <li>Código QR personalizado.</li>
                    <li>Visualización con fotos y detalle de cada uno de tus platillos.</li>
                    <li>Menú digital adaptable a todos tus dispositivos.</li>
                    <li>Disponible las 24 horas los 7 días de la semana.</li>
                </ul>
            </div>

            <div class="col-6 mt-5">
                <h6>Plan Gestión total</h6>
                <h2><b>$99.00 MXN /mes</b></h2>
                <p class="text-success">IVA incluido. Sin contratos ni permanencia</p>
            </div>

            <div class="col-6 mt-5 font-weight-bolder">
                <ul>
                    <li>Recepción y Gestión de todos tus pedidos incluidos pedidos a domicilio.</li>
                    <li>Contacta con el servicio de entregas de tu preferencia.</li>
                </ul>
            </div>
        </div>

        <div class="row mt-5 fondo-6 productividad" style="height: 500px;">
            <div class="col-1">

            </div>

            <div class="col-10 text-center">
                <img class="shadow" src="/static/img/menu2.jpg" alt="">
            </div>

            <div class="col-3">

            </div>

            <div class="col-6 text-center">
                <button class="btn btn-light shadow p-2 rounded font-weight-bolder">¿Quieres ver como luciría tu menú digital?</button>
            </div>
        </div>

        <div class="row fondo-7">
            <div class="col-12 mt-5">
                <h3 class="text-center font-weight-bolder">Preguntas frecuentes</h3>
                
                <p><b>¿Debo descargar alguna aplicación?</b></p>
                <p>No es necesario, para mostrárselo a tus clientes basta con que escaneen tu código QR.</p>
                <br>
                <p><b>¿Necesito conexión a internet?</b></p>
                <p>Si, RaffYou es una plataforma basada en la nube, por lo que es necesario estar conectado a internet para todos los usuarios.</p>
                <br>
                <p><b>¿Cómo uso el código QR?</b></p>
                <p>Necesitas imprimirlo en un lugar visible, para que tus clientes puedan escanearlo con cualquier smartphone.</p>
                <br>
                <p><b>¿Cómo escaneo mi código QR?</b></p>
                <p>Si tienes un iPhone, utiliza la aplicación de tu cámara, cómo si quisieras hacer una foto. Para Android, utiliza Google Lens o una de las aplicaciones del escáner QR.</p>
            </div>
        </div>
    </div>
    
{% endblock %}