{% extends 'base.html' %}

{% block content %}
    <!-- <h1 class="mb-3 mt-5 pt-4">Quiero registrar mi negocio</h1> -->

    <div class="container mb-3 mt-5 pt-4 text-center">
        <div class="row">
            <div class="col-7">
                <h1>¿Sabías que con RaffYou es muy fácil transformar tu restaurante digitalmente?</h1>

                <p>El mundo está cambiando y sorprendiéndonos a cada instante, sorprende también a tus clientes con una nueva experiencia.
                    <br>
                    Lleva tu negocio a cualquier lugar, estés donde estés. SIN DESCARGAS, SIN APLICACIONES.
                </p>

                <button>Quiero inscribirme</button>
            </div>

            <div class="col-5">
                <img src="" alt="">
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <h1>¿Cómo lo hago?</h1>
                
                <img src="" alt="">
            </div>

            <div class="col-6">
                <p>
                    - Regístrate con nosotros y créate una cuenta para tu establecimiento de comida.

                    - Agrega fotos, descripción y todos los datos de tus productos clasificándolos por categorías. 

                    - Agrega y quita, puedes modificarlo tantas veces como quieras.

                    - Espera un máximo de 48 horas para que nuestro equipo valide tu cuenta y ¡TODO LISTO! 

                    - Descarga tu código QR, mostrárselo a tus clientes, ofréceles un mejor servicio y una nueva experiencia.
                </p>


                <h1>Tu menú digital a un solo click del mundo entero</h1>
            </div>

            <div class="col-3">
                <h3>Seguro y versátil</h3>

                <p>
                    Permanece preparado ante las nuevas normas de bioseguridad para restaurantes y establecimientos de comida.
                </p>
            </div>

            <div class="col-3">
                <h3>¿Para comer aquí o para llevar?</h3>

                <p>
                    Recibe las ordenes de tus clientes desde tu establecimiento o recibe pedidos para entregas a domicilio.
                </p>
            </div>

            <div class="col-3">
                <h3>Código QR</h3>

                <p>
                    Descarga e imprime tu código QR y muestrales a todo el mundo todo lo que puedes ofrecer
                </p>
            </div>

            <div class="col-3">
                <h3>Adaptable o todos los dispositivos.</h3>

                <p>
                    Tu menú para PC, Tablet o Smartphone, ¡Deja que tus clientes decidan!
                </p>
            </div>

            <div class="col-12">
                <h6>Todo esto y mucho más, sin descargar aplicaciones.</h6>
            </div>
        </div>

        <div class="row">
            
        </div>
    </div>
    
{% endblock%}