{% extends 'base.html' %}

{% block content %}
    <!-- <h1 class="mb-3 mt-5 pt-4">Quiero registrar mi negocio</h1> -->

    <div class="landing-container mb-3 mt-5 pt-4 text-center">
        <div class="title">
            <h1>Quiero registrar mi negocio</h1>
        </div>

        <div class="inicio">
            <h2>El mundo está cambiando ¿Y tu?</h2>
        </div>

        <div class="question">
            <h2>¿Como inscribir mi negocio?</h2>
        </div>

        <div class="inscription">
            <p>Es facil, solo sigue los siguiente pasos</p>
        </div>
        
        <div class="oferta">
            <h2>RaffYou ofrece</h2>
        </div>
        
        <div class="contrata">
            <h2>Contrata tu paquete</h2>
        </div>

        <div class="ejemplo">
            <h2>¿Quieres ver como se veria tu carta?</h2>
        </div>
        
        <div class="preguntas">
            <h2>Preguntas</h2>
        </div>
    </div>
    
{% endblock%}