<!-- Primary Meta Tags -->
<title>Busca, ordena y disfruta</title>
<meta name="title" content="Busca, ordena y disfruta">
<meta name="description" content="La mejor comida del rumbo">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://raffyou.com/comida/">
<meta property="og:title" content="Busca, ordena y disfruta">
<meta property="og:description" content="La mejor comida del rumbo">
<meta property="og:image" content="https://raffyou.s3.us-east-2.amazonaws.com/static/img/raffyou_sm.png">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://raffyou.com/comida/">
<meta property="twitter:title" content="Busca, ordena y disfruta">
<meta property="twitter:description" content="La mejor comida del rumbo">
<meta property="twitter:image" content="https://raffyou.s3.us-east-2.amazonaws.com/static/img/raffyou_sm.png">
