<!-- Metas social media -->
<!-- Search Engine -->
<meta name="description" content="En RaffYou hacemos tu vida más fácil">
<meta name="image" content="https://raffyou.com/static/img/raffyou.png">
<!-- Schema.org for Google -->
<meta itemprop="name" content="RaffYou">
<meta itemprop="description" content="En RaffYou hacemos tu vida más fácil">
<meta itemprop="image" content="https://raffyou.com/static/img/raffyou.png">
<!-- Twitter -->
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="RaffYou">
<meta name="twitter:description" content="En RaffYou hacemos tu vida más fácil">
<meta name="twitter:image:src" content="https://raffyou.com/static/img/raffyou.png">
<!-- Open Graph general (Facebook, Pinterest & Google+) -->
<meta name="og:title" content="RaffYou">
<meta name="og:description" content="En RaffYou hacemos tu vida más fácil">
<meta name="og:image" content="https://raffyou.com/static/img/raffyou.png">
<meta name="og:url" content="https://raffyou.com/products/">
<meta name="og:site_name" content="RaffYou">
<meta name="og:locale" content="es_MX">
<meta name="fb:app_id" content="472591200085360">
<meta name="og:type" content="website">