//////////////////////////////// CATEGORIAS ///////////////////////////////////////////

.categorias-J
{
    text-align: center;
}


.texto-J1
{
    color: #fff;
    text-shadow: 0.2rem 0.2rem 5px black;
    margin-bottom: 2.8rem;
}

//for categories

.color-J
{
    display: inline-block;
    color: #eeeeee !important;
    background: #b7b5b580;
    margin: .25rem;
    padding: 0.2rem;
    border-radius: 7px;
    font-weight: bolder;
    box-shadow: 0 0.8rem 18px -10.1px black;
}


