// Fonts
$main-font: 'Montserrat', sans-serif;

// Colors
$main-color: #F06D2B;
$text-color-soft: white;

$border-color: rgba(0,0,0,.125);
$body-background: #EEE;

// Sizes
$card-content-max-width: 300px;