
.btn-spotify {
    color: #FFF;
    background-color: #1DB954;
    font-size: 14px;
    line-height: 1;
    border-radius: 500px;
    padding: 16px 48px 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.btn-facebook {
    color: #FFF;
    background-color: #4267b2;
    font-size: 14px;
    line-height: 1;
    border-radius: 500px;
    padding: 16px 48px 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
