
body {
    font-family: $main-font;
    background-color: $body-background;
}

.price {
    color: rgb(28, 75, 146);
    font-weight: bold;
}

.card-price {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 5px;
    .price {
        grid-column: span 2;
        text-align: right;
    }
}
