
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: $main-font;
    background-color: $body-background;
}

.card {
    background-color: white;
    // padding: 30px;
    border-radius: 2px;
    border: 1px solid $border-color;
    @include shadow;
}

.card-image {

    overflow: hidden;
    img {
        max-width: $card-content-max-width;
        max-height: 250px;
    }
}

.card-content {
    max-width: $card-content-max-width;
}

.list-card {
    display: flex;
    justify-content: space-between;
}


.text-center {
    text-align: center;
}


// Paddings
.p-3 {
    padding: 2rem;
}

.pt-2 {
    padding-top: 1.5rem;
}

// Max width
.max-w-2 {
    max-width: 400px;
}