
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: $main-font;
    background-color: #eee;
}

.card {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    border: 1px solid rgba(0,0,0,.125);
    @include shadow;
}
