
.navbar {
    background-color: $main-color;
    display: flex;
    color: $text-color-soft;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    padding: 0 20px;
    @include shadow;

    ul {
        display: flex;
        align-items: center;
    }

    li {
        display: block;
        margin: 0 10px;
    }
}

.navbar-mobil {
    background-color: $main-color;
    display: none;
    color: $text-color-soft;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    padding: 0 20px;
    @include shadow;

    ul {
        display: flex;
        align-items: center;
    }

    li {
        display: block;
        margin: 0 10px;
    }
}

.logo {
    font-size: 35px;
    font-weight: bold;
}

.btn-profile {
    display: flex;
    align-items: center;
}
