.score {

    direction: rtl;
    unicode-bidi: bidi-override;

    label {
        color: gray;
        margin: 0;
    }

    label:hover{
        color:orange;
    }

    label:hover ~ label{
        color:orange;
    }

    input[type = "radio"]{
        display:none;
    }

    input[type = "radio"]:checked ~ label{
        color:orange;
    }
}

.only_score {

    direction: rtl;
    unicode-bidi: bidi-override;

    label {
        color: gray;
        margin: 0;
    }


    input[type = "radio"]{
        display:none;
    }

    input[type = "radio"]:checked ~ label{
        color:orange;
    }
}
