
<div class="only_score m-0 d-inline-block">
    <input type="radio" {% if rate == 5 %} checked {% endif %} value="5">
    <label>★</label>
    <input type="radio" {% if rate == 4 %} checked {% endif %} value="4">
    <label>★</label>
    <input type="radio" {% if rate == 3 %} checked {% endif %} value="3">
    <label>★</label>
    <input type="radio" {% if rate == 2 %} checked {% endif %} value="2">
    <label>★</label>
    <input type="radio" {% if rate == 1 %} checked {% endif %} value="1">
    <label>★</label>
</div>
