
<p class="score m-0">
    <input id="{{id}}score1" type="radio" name="score" value="5">
    <label for="{{id}}score1">★</label>
    <input id="{{id}}score2" type="radio" name="score" value="4">
    <label for="{{id}}score2">★</label>
    <input id="{{id}}score3" type="radio" name="score" value="3">
    <label for="{{id}}score3">★</label>
    <input id="{{id}}score4" type="radio" name="score" value="2">
    <label for="{{id}}score4">★</label>
    <input id="{{id}}score5" type="radio" name="score" value="1">
    <label for="{{id}}score5">★</label>
</p>
