<footer
    class="d-flex align-items-center justify-content-center bg-dark mt-5 font-weight-bold text-primary">
    <p class="m-3"><i>With love 💙</i></p>
    <div class="m-3">
        <!-- <p class="mb-1">Acerca de nosotros</p> -->
        <p class="mb-1">
            <a href="{% url 'core:core-formulary' %}" target="_blank">
                Quiero registrar mi negocio
            </a>
        </p>
        <p class="mb-1">
            <a href="{% url 'core:privacy-policy' %}" target="_blank">Aviso de privacidad</a>
        </p>
        <p class="mb-1">
            <a href="{% url 'core:terms-policy' %}" target="_blank">Términos y condiciones</a>
        </p>
    </div>
    
    <div class="m-3">
        <P class="mb-1">
            ¡Queremos saber tu opinion! <br>    
        </P>

        <a href="https://www.facebook.com/RaffYouOfficial/" target="_blank">
            <i class="fab fa-facebook social-ico"></i>
        </a>
    
        <a href="https://www.instagram.com/raffyouofficial/" target="_blank">
            <i class="fab fa-instagram social-ico"></i>
        </a>
    </div>
    
        

</footer>
