<footer
    class="d-flex align-items-center justify-content-center bg-dark mt-5 font-weight-bold text-primary">
    <p class="m-3"><i>With love 💙</i></p>
    <div class="m-3">
        <!-- <p class="mb-1">Acerca de nosotros</p> -->
        <p class="mb-1">
            <a href="https://www.facebook.com/RaffYouOfficial/" target="_blank">
                ¡Queremos saber tu opinion!
            </a>
        </p>
        <p class="mb-1">
            <a href="{% url 'core:privacy-policy' %}" target="_blank">Aviso de privacidad</a>
        </p>
        <p class="mb-1">
            <a href="{% url 'core:terms-policy' %}" target="_blank">Términos y condiciones</a>
        </p>
    </div>
</footer>
