<div class="form-group col-md-{{ col }}">
    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
    <input
        name="{{ field.name }}"
        type="{{ type }}"
        class="form-control {{ classes }}"
        id="{{ field.id_for_label }}"
        {% if field.field.required %} required {% endif %}
        value="{{ value }}"
        placeholder="{{ field.placeholder }}">
    {% if field.errors.0 %}
        <div class="invalid-feedback">
            {{ field.errors.0 }}
        </div>
    {% endif %}
</div>
