<nav class="navbar-mobil">
    <div class="logo"><a href="{% url 'products:home' %}">RaffYou</a></div>
    {% if request.user.is_authenticated %}
        <ul>
            <li><a href="#" class="flex items-center">
                {% if request.user.profile_picture %}
                    <img class="round mr-1" src="{{ request.user.profile_picture.url }}" alt="profile picture">
                {% endif %}
                {{ request.user.first_name }}
            </a></li>
        </ul>
    {% else %}
        <ul>
            <li><a href="{% url 'users:signup' %}">Crear cuenta</a></li>
            <li><a href="{% url 'users:login' %}">Ingresar</a></li>
        </ul>
    {% endif %}
</nav>
