
<nav class="navbar navbar-expand-sm navbar-dark bg-primary shadow fixed-top" >
    <a class="navbar-brand font-weight-bold pdng-LR-J efect-select-J2" href="{% url 'products:home' %}">RaffYou</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse collapse-responsive" id="navbarSupportedContent">

        <form class="form-inline mgn-centrado-J my-2 my-lg-0" action="{% url 'products:home' %}">
            <input name="q" class="form-control mr-sm-2 txt-center-J" type="search" placeholder="¿Antojo de algo?" aria-label="Search">
            <button class="btn btn-success my-2 my-sm-0" type="submit">Buscar</button>
        </form>

        <ul class="navbar-nav mgn-ul-navbar-J">
            <li class="nav-item">
                <a class="nav-link efect-select-J2" href="{% url 'products:home' %}">
                    Inicio
                </a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link efect-select-J2" href="{% url 'orders:order-help' %}">
                    ¿Cómo pedir?
                </a>
            </li> -->
            <li class="nav-item">
                <a class="nav-link efect-select-J2" href="{% url 'products:provider-list' %}">
                    Negocios
                </a>
            </li>
            
            {% if request.user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle efect-select-J2" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {% if request.user.profile_picture %}
                            <img src="{{request.user.profile_picture.url }}" width="25" height="25" class="d-inline-block align-top rounded-circle" alt="">
                        {% endif %}
                        Cuenta
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'orders:order-help' %}">Ayuda</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'users:logout' %}">Salir</a>
                    </div>
                </li>
            {% else %}
                <li class="nav-item efect-select-J2">
                    <a class="nav-link efect-select-J2" href="{% url 'users:login' %}">Ingresar</a>
                </li>
                <li class="nav-item efect-select-J2">
                    <a class="nav-link efect-select-J2" href="{% url 'users:signup' %}">Crear cuenta</a>
                </li>
            {% endif %}
        </ul>
       
    </div>
</nav>
