<nav class="navbar">
    <h1 class="logo"><a href="{% url 'raffles:home' %}">RaffYou</a></h1>
    {% if request.user.is_authenticated %}
        <ul>
            <li><a href="#">Mis compras</a></li>
            <li><a href="#">{{ request.user.username }}</a></li>
            <li><a href="{% url 'users:logout' %}">Salir</a></li>
        </ul>
    {% else %}
        <ul>
            <li><a href="{% url 'users:signup' %}">Crear cuenta</a></li>
            <li><a href="{% url 'users:login' %}">Ingresar</a></li>
        </ul>
    {% endif %}
</nav>
