{% if is_paginated %}
<nav aria-label="Page navigation example">
    <ul class="pagination pagination-sm justify-content-center">
      {% if page_obj.has_previous %}
        <li class="page-item">
            <a
                class="page-link"
                href="?page={{ page_obj.previous_page_number }}&{{ search }}"
                >Anterior</a>
        </li>
      {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">Anterior</a>
        </li>
      {% endif %}
      {% for i in page_obj.paginator.page_range %}
        {% if page_obj.number == i %}
            <li class="page-item active active">
                <span class="page-link">{{ i }} <span class="sr-only">(current)</span></span>
            </li>
        {% else %}
          <li class="page-item"><a class="page-link" href="?page={{ i }}&{{ search }}">{{ i }}</a></li>
        {% endif %}
      {% endfor %}
      {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}&{{ search }}">Siguiente</a></li>
      {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#">Siguiente</a>
        </li>
      {% endif %}
    </ul>
</nav>
{% endif %}