<div class="form-group col-md-{{ col|default:"8" }}">
    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
    <textarea
        name="{{ field.name }}"
        class="form-control"
        id="{{ field.id_for_label }}"
        cols="{{ cols|default:"57"}}"
        {% if field.field.required %} required {% endif %}
        value="{{ field.value|default_if_none:"" }}"
        rows="{{ rows|default:"4"}}">{{ field.placeholder }}</textarea>
    {% if field.errors.0 %}
        <div class="invalid-feedback">
            {{ field.errors.0 }}
        </div>
    {% endif %}
</div>
