{% load sass_tags %}
{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% sass_src 'sass/index.scss' %}?v=1.0.4">
    <title>RaffYou</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="icon" href="{% static 'img/raffyou.png' %}">
    <script src="https://kit.fontawesome.com/91abd2396f.js" crossorigin="anonymous"></script>

    {% include 'core/meta_sm.html' %}
    {% include 'core/meta_google_service.html' %}

</head>
<body>
    {% include 'generals/navbar.html' %}
    {% include 'core/alerts.html' %}
    {% block content_top %}
    {% endblock%}

    <div class="container pt-2">
        {% block content %}
        {% endblock %}
    </div>
    {% include 'generals/footer.html' %}
</body>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="{% static 'js/main.js' %}?v=1.0.0"></script>
{% block js %}
{% endblock %}
</html>
