// -------------------------------    ESTILOS GENERALES   ----------------------------------------------

//Sombras sobre los h1 y h2
.shadow-center-J
{
    text-align: center;
    color: #fff;
    text-shadow: 0.2rem 0.2rem 6px black;
}

.text-link {
    color: $blue;
    text-decoration: underline;
}
