.landing-container
{
    display: grid;
    grid-template-columns: 30% 30%;
    grid-template-areas: "title title"
                         "inicio ."
                         "question inscription"
                         "oferta oferta"
                         "contrata contrata"
                         "ejemplo ejemplo"
                         "preguntas preguntas";
}

.title
{
    grid-area: title;
}

.inicio
{
    grid-area: inicio;
}

.question
{
    grid-area: question;
}

.inscription
{
    grid-area: inscription;
}

.oferta
{
    grid-area: oferta;
}

.contrata
{
    grid-area: contrata;
}

.ejemplo
{
    grid-area: ejemplo;
}

.preguntas
{
    grid-area: preguntas;
}