.fondo-1 {
    background-image: url("/static/img/1.png");
    background-position-y: top;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-color: #fd7e14;
}

.fondo-4 {
    background-image: url("/static/img/3.png");
    background-position-y: top;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-color: #fd7e14;
}

.fondo-5 {
    background-image: url("/static/img/5.png");
    background-position-y: top;
    background-repeat: no-repeat;
    background-size: 100%;
}

.fondo-6 {
    background-image: url("/static/img/6.png");
    background-size: 100% 370px;
    background-position-y: bottom;
    background-repeat: no-repeat;
}

.fondo-7 {
    background-image: url("/static/img/7.png");
    background-position-y: top;
    background-repeat: no-repeat;
    background-size: 100%;
}
