// -------------------------------    NAVBAR   ----------------------------------------------

///// ul del navegador /////////
.mgn-ul-navbar-J                            //Margin
{
    margin-right: 0 !important;
}

.efect-select-J2:hover          //Efecto hover retardo y cambio de background
{
    color: #fd7e14 !important;
    background: white;
    font-weight: bolder !important;
    border-radius: 7.5px;
    transition: all 500ms
}

.efect-select-J:hover    // Efecto zoom
{
    transform:scale(1.2);
}

.efect-select-J3   // Efecto retardo
{
    transition: all 500ms
}

// Barra de busqueda ////////////////
.mgn-centrado-J                             //Margin
{
    margin-left: auto;
    margin-right: auto;
}

.txt-center-J
{
    text-align: center;
}


// LOGO RaffYou ///////////

.pdng-LR-J
{
    padding-left: .5rem;
    padding-right: .5rem;
}
