{% extends 'base.html' %}
{% load user_tags %}
{% block content %}
    <h1 class="my-3">Resume de tu compra</h1>
    <div class="shadow bg-white rounded">
        <div class="row p-3">
            <div class="col-sm-6">
                <h5>Productos</h5>
                <ul>
                    {% for cart_product in cart_products%}
                        <li>
                            x{{ cart_product.amount }} 
                            {{ cart_product.product.product.name }} -
                            ${{ cart_product.sub_total_price }}
                        </li>
                    {% endfor %}
                    <li>Costo de envío: $20</li>
                </ul>
                <p class="price">Total: ${{ cart.total_price|add:"20" }}</p>
            </div>
            <div class="col-sm-6">
                <h5>Dirección</h5>
                <h6>{{ cart.address.street_name }} {{ cart.address.street_number }}</h6>
                <p class="text-muted">
                    ({{ cart.address.zip_code }}) {{ cart.address.city }} {{ cart.address.colony }}
                    <br>
                    {{ cart.address.name }}-{{ cart.address.telephone }}
                    <br>
                    {{ cart.address.between_street1 }}-{{ cart.address.between_street2 }}
                    <br>
                    {{ cart.address.references }}
                </p>
            </div>
        </div>
        <div class="row p-3 justify-content-center">
            <a target="_blank" href="{% volando_whatsapp cart.address.id %}" class="btn btn-send">Pedir</a>
        </div>
    </div>
{% endblock %}
