{% extends 'base.html' %}

{% block content %}
    <h1>Carrito</h1>
    {% if cart_products %}
        {% for cart_product in cart_products %}
            {% include 'carts/cart_product_card.html' %}
        {% endfor %}
        <div class="row">
            <div class="col text-right">
                <a class="btn btn-success" href="#" role="button">Continuar con la compra</a>
            </div>
        </div>
    {% else %}
        <h4 class="my-5">Aún no tienes productos en tu carrito</h4>
    {% endif %}
    <h3 class="mt-5">Te podría interesar...</h3>
    <div class="card-deck">
        {% for product in products %}
            {% include 'products/product_card_simple.html' %}
        {% endfor%}
    </div>
{% endblock %}
