{% extends 'base.html' %}

{% block content %}
    <h1>Carrito</h1>
    {% if cart_products %}
        {% for cart_product in cart_products %}
            {% include 'carts/cart_product_card.html' %}
        {% endfor %}
        <div class="card mb-3">
                <div class="d-flex align-items-end flex-column p-3">
                    <h6>Productos ({{ request.user.cart.count_items }}):
                        $ {{ request.user.cart.total_price }}
                    </h6>
                    <p class="text-success">Envío a travéz de <strong>Voy volando</strong></p>
                    <h5>
                        Total en efectivo:
                        $ {{ request.user.cart.total_price }}
                    </h5>
                    <small class="text-danger">Los precios de los productos podrían no ser reales, pregunta al repartido el precio exacto. !Estamos trajabando arduamente para tenerlos lo más acercados a la realidad!</small>
                </div>
        </div>
        <div class="row">
            <div class="col text-right">
                <a class="btn btn-success" href="{% url 'carts:cart-address' %}" role="button">Continuar con la compra</a>
            </div>
        </div>
    {% else %}
        <h4 class="my-5">Aún no tienes productos en tu carrito</h4>
    {% endif %}
    <h3 class="mt-5">Te podría interesar...</h3>
    <div class="card-deck">
        {% for product in products %}
            {% include 'products/product_card_simple.html' %}
        {% endfor%}
    </div>
{% endblock %}
