<div class="card mb-2">
    <div class="card-body">
        <h5 class="card-title">
            Pedido #{{ order.id }}
        </h5>

        <div class="row">
            <div class="col-sm-4">
                <p class="card-text">
                    <ul>
                        {% for product in order.products.all %}
                            <li>{{ product }}</li>
                        {% endfor %}
                    </ul>
                </p>
            </div>
            <div class="col-sm-4">
                <p class="card-text text-center">
                    <strong>Total: ${{ order.total_price }}</strong>
                </p>
            </div>
            <div class="col-sm-4">
                {% if order.status == 1 %}
                    <h3 class="text-center"><span class="badge badge-warning">{{ order.get_status_display }}</span></h3>
                {% elif order.status == 2 %}
                    <h3 class="text-center"><span class="badge badge-info">{{ order.get_status_display }}</span></h3>
                {% elif order.status == 3 %}
                    <h3 class="text-center"><span class="badge badge-success">{{ order.get_status_display }}</span></h3>
                {% elif order.status == 5 %}
                    <h3 class="text-center"><span class="badge badge-success">{{ order.get_status_display }}</span></h3>
                {% elif order.status == 4 %}
                    <h3 class="text-center"><span class="badge badge-danger">{{ order.get_status_display }}</span></h3>
                {% endif %}
            </div>
        </div>
    </div>
</div>