{% extends 'base.html' %}

{% block content %}
    <h1 class="mb-3 mt-5 pt-4">Mis pedidos</h1>
    {% for order in object_list %}
        {% include 'orders/order_card.html' %}
    {% empty %}
        <h3>Aún no tienes pedidos.</h3>
    {% endfor %}
    {% include 'generals/paginator.html' %}
    <hr>
    <small class="text-danger">
        Para cualquier aclaración por favor escríbenos a nuestra página de
        <strong><a href="https://m.me/RaffYouOfficial" target="_blank">Facebook.</a></strong>
        Siempre puedes ir a la sección 
        <strong><a href="{% url 'orders:order-list'%}">Mis pedidos</a></strong>
        para seguir el rastro de tu envío.
    </small>
{% endblock%}
