{% extends 'base.html' %}
{% load custom_form %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <h1 class="my-4">Agregar dirección</h1>
            <form class="card shadow p-4" method="post">
                {% csrf_token %}
                <div class="form-row">
                    {% input_form form.name %}
                </div>
                <div class="form-row">
                    {% input_form form.zip_code 4 %}
                </div>
                <div class="form-row">
                    {% input_form form.state 4 %}
                    {% input_form form.city 4 %}
                </div>
                <div class="form-row">
                    {% input_form form.colony %}
                </div>
                <div class="form-row">
                    {% input_form form.street_name 4 %}
                    {% input_form form.street_number 4 %}
                </div>
                <div class="form-row">
                    {% input_form form.internal_number 4 %}
                </div>
                <small for="id_between_street1">¿Entre qué calles está? (opcional)</small>
                <div class="form-row">
                    {% input_form form.between_street1 4 %}
                    {% input_form form.between_street2 4 %}
                </div>
                <div class="form-row">
                    {% input_form form.telephone 4 %}
                </div>
                <div class="form-row">
                    {% textarea_form form.references %}
                </div>
                <div class="text-center pt-2">
                    <button class="btn btn-success" type="submit">Enviar</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

