{% extends 'base.html' %}

{% block content %}
<div class="content-center">
    <a href="{% url 'users:spotify_login' %}" class="btn-spotify mb-3"> Iniciar sesión con spotify</a>
    <div class="card max-w-2 p-3">
        {% url 'users:login' as url_login %}
        {% if url_login == request.path %}
            <h1>Iniciar sesión</h1>
        {% else%}
            <h1>Crea tu cuenta</h1>
        {% endif %}
        <form method="post">
            {% include 'generals/form.html' %}
            <div class="text-center pt-2">
                <button class="btn-success" type="submit">Enviar</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
